.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 5px;
    background-color: #5cada8;
    border: 1px solid #AAE9E5;
    color: #AAE9E5;
    padding: 7px 8px;
}

.button:hover{
    color: #5cada8;
    background-color: #AAE9E5;
    border: 1px solid #5cada8;
    cursor: pointer;
}

.inputContainer{
    border-radius: 5px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 10px;
    border: none;
}

.inputContainer:focus{
    outline: none;
}