* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.aboutMe,
.sign-up,
.single-character {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('./media/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.aboutMe {
  color: #FF8561;
  -webkit-text-stroke: 1px black;
  background-image: url('./media/images/fondo-rickmort-3.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 100px;
}

.sign-up {
  background-image: url('./media/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.single-character{
  color: #FF8561;
  -webkit-text-stroke: 1px black;
  background-image: url('./media/images/fondo-rickmort-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 100px;
}